* {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  background: purple;
  color: white;
  padding: 30px 15px;
  position: fixed;
  width: 100%;
  top:0;
  z-index: 99;
}

h2 {
  position: relative;
  margin-top: 107px;
  text-align: center;
}

.custom-text {
  color: lightpink
}

nav ul li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: black;
  background: #f2f2f2;
  margin: 100px;
  padding: 2px 20px;
}

.me {
  margin:30px;
  width: 300px;
  transition: 3s;
}

.me:hover {
  width: 400px;
  transition: 3s;
}

.sun {
  margin: 100px;
  position: absolute;
  width: 200px;
  animation-name: rise;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}
section {
  padding: 20px;
  max-width: 500;
  margin: 10px 0;
  width: 20%;
}

.top-section {
  background: lightgreen;
  margin: 30px;
  margin-top: 107px;
  position: relative;
  z-index: 0;
}

.top-section .smiley {
  float:right;
  width: 40px

}

.middle-section {
  background: lightblue;
  margin: 30px;
}

.bottom-section {
  background: lightpink;
  margin: 30px;
}

.name {
  font-size: 20px;
  position: absolute;
  top: 0;
  z-index: 99;
}





@keyframes rise {
  from {
    transform: translateY(1000px);
  }
  to {
    transform: translateY(-100px);
  }
}
